<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>간단한 지도 표시하기</title>
        <script type="text/javascript"
                src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID"></script>
        <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

        <style>
            #map {
                width: 100%;
                height: 400px;
            }
        </style>

        <script>
            $(document).ready(function () {
                   initMap()
            })

            function initMap () {
                let map = new google.maps.Map(document.getElementById("map"), {
                    center: {lat: 43.000, lng: -75.000},
                    zoom: 8,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                      style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                      position: google.maps.ControlPosition.TOP_CENTER,
                    },
                    zoomControl: true,
                    zoomControlOptions: {
                      position: google.maps.ControlPosition.LEFT_CENTER,
                    },
                    scaleControl: true,
                    streetViewControl: true,
                    streetViewControlOptions: {
                      position: google.maps.ControlPosition.LEFT_TOP,
                    },
                    fullscreenControl: true,
                  });

                // let marker = new google.maps.Marker({
                //     position: new google.maps.LatLng(37.4981125, 127.0379399),
                //     map: map,
                //     icon: "{{ url_for('static', filename='rtan_heart.png') }}"
                // });

                let marker = new google.maps.Marker({
                    position: new google.maps.LatLng(43, -75),
                    map,
                    title: "Hello World!",
                  });

                let infowindow = new google.maps.InfoWindow({
                    content: `<div style="width: 50px;height: 20px;text-align: center"><h5>안녕!</h5></div>`,
                });

                marker.addListener("click", () => {
                    if (infowindow.getMap()) {
                        infowindow.close();
                    } else {
                        infowindow.open(map, marker);
                    }
                  });
            }
        </script>
    </head>
    <body>
        <div id="map"></div>
    </body>
</html>